@import "./sass/anker.scss";

$yellow: #ffa645;
$blue: #22D1C4;
.momshared {
  h1 {
    font-family: "Booster Next FY";
    font-size: 42px;
    text-align: center;
    font-weight: 800;
    margin: 0;

    @media (max-width: $maxPhoneWidth) {
      font-size: 21px;
    }
  }

  h2 {
    font-family: "Booster Next FY";
    font-size: 30px;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    margin: 0;

    @media (max-width: $maxPhoneWidth) {
      font-size: 18px;
    }
  }

  h3 {
    font-family: "Booster Next FY";
    color: #ff83a3;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0;

    @media (max-width: $maxPhoneWidth) {
      font-size: 18px;
    }
  }

  p {
    font-family: "Booster Next FY";
    font-size: 14px;
    text-align: left;
    margin: 6px 0;

    @media (max-width: $maxPhoneWidth) {
      font-size: 10px;
    }
  }

  ul {
    height: 100%;
    margin: 0;
    padding-left: 20px;
  }

  li {
    font-family: "Booster Next FY";
    list-style: none;
    font-size: 14px;
    list-style: decimal;
  }

  div,
  button,
  select {
    font-family: "Booster Next FY";
    box-sizing: border-box;
  }

  a,
  button {
    cursor: pointer;
  }

  section {
    box-sizing: border-box;
    padding: 0 2%;
  }

  .section {
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

  .reactPlayer {
    height: 420px;
    @media (max-width: $maxPhoneWidth) {
      height: 200px;
    }
  }

  .caidaititle {
    position: relative;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    @media (max-width: $maxPhoneWidth) {
      margin-bottom: 20px;
    }
    .titletxt {
      width: 100%;
      color: #fff;
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .caidai {
      width: 100%;
      min-height: 80px;
      @media (max-width: $maxPhoneWidth) {
        min-height: 60px;
      }
    }
  }

  .title {
    width: 100%;
    padding: 20px 0;
    position: relative;
    text-align: center;
    .titletxt {
      position: relative;
      z-index: 2;
      display: inline-block;
      color: #ff83a3;
      background-color: #fff;
      padding: 0 30px;
    }
    .line {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      transform: translate(0, -50%);
      width: 100%;
      border-bottom: 1px solid #ff83a3;
    }
  }

  .btnBox {
    padding: 1rem 0;
    text-align: center;
  }

  .btns {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 30px;
    margin: 2px;
    border: 0;
    border-radius: 20px;
    background: $yellow;
    cursor: pointer;

    &.btnsBorder {
      color: $yellow;
      border: 1px solid $yellow;
      background: transparent;
    }
    @media (max-width: $maxPhoneWidth) {
      font-size: 12px;
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
    }
  }

  .uplaodBtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    border: 0;
    height: 35px;
    cursor: pointer;
    @media (max-width: $maxPhoneWidth) {
      font-size: 12px;
      height: 30px;
      line-height: 30px;
    }
    p {
      box-sizing: border-box;
      width: 100%;
      line-height: 35px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0 30px;
      margin: 0;
      border: 0;
      border-radius: 20px;
      background: $yellow;
      position: relative;
      z-index: 1;
      @media (max-width: $maxPhoneWidth) {
        font-size: 12px;
        height: 30px;
        line-height: 30px;
      }
    }
    
    .file_upload {
      opacity: 0;
      box-sizing: border-box;
      width: 100%;
      height: 35px;
      margin: 0;
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
      @media (max-width: $maxPhoneWidth) {
        font-size: 12px;
        height: 30px;
        line-height: 30px;
      }
    }
  }

  .blocktip {
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
  }

  .banner {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    .section {
      width: 100%;
      position: absolute;
      top: 0;bottom: 0;
      left: 50%;
      overflow: visible;
      transform: translate(-50%, 0);
    }
    .bannerbtn {
      max-width: 40%;
      text-align: left;
      position: absolute;
      top: 43%;
      left: 0;
      transform: translate(0%, -50%);
      @media (max-width: $maxPhoneWidth) {
        max-width: 90%;
        text-align: center;
        top: 6%;
        left: 50%;
        transform: translate(-50%, 0);
      }
      h1 {
        color: #fff;
        font-size: 36px;
        text-align: left;
        margin-bottom: 1rem;
        @media (max-width: $maxPhoneWidth) {
          text-align: center;
          font-size: 24px;
        }
      }
      h2 {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        margin-bottom: 1.5rem;
        @media (max-width: $maxPhoneWidth) {
          text-align: center;
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
      i {
        font-style: normal;
        color: $yellow;
      }
      button {
        font-size: 20px;
        white-space: nowrap;
      }
    }
    img {
      width: 100%;
      display: block;
      .img {
        @media (max-width: $maxPhoneWidth) {
          width: 180%;
          transform: translate(-22%);
        }
      }
    }
  }

  .prizeSec {
    padding: 4rem 0;
    margin-top: -18rem;
    background-color: #fff;
    @media (max-width: $maxPhoneWidth) {
      padding: 2rem 0;
      margin-top: -8rem;
    }
    .caidaititle {
      width: 500px;
      margin: 0 auto;
      margin-bottom: -3rem;
      .titletxt {
        top: 42%;
      }
    }
    .section {
      overflow: visible;
    }
    .giftBox {
      background-color: #EEF2F3;
      padding: 3rem;
      border-radius: 10px;
      @media (max-width: $maxPhoneWidth) {
        padding: 2rem 1rem;
        margin: 10px;
      }
    }
    .gift1 {
      position: relative;
      width: 85%;
      margin: 0 auto;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0px 0 15px #ddd;
      background-image: url(https://dz02g1kgtiysz.cloudfront.net/deals/err/200525_154817_back2x.png);
      background-repeat: no-repeat;
      background-position: top 50% right 5%;
      background-size: 10%;
      @media (max-width: $maxPhoneWidth) {
        width: 90%;
        margin-top: 1rem;
        background-size: 15%;
      }
      .product {
        position: absolute;
        top: -25%;
        left: -5%;
        height: 150%;
      }
      .content {
        padding: 2rem 18%;
        @media (max-width: $maxPhoneWidth) {
          padding: 1rem 1rem 1rem 30%;
        }
      }
      .h1 {
        color:$blue;
        font-size: 36px;
        font-weight: 600;
        text-align: left;
        margin: 0;
        @media (max-width: $maxPhoneWidth) {
          font-size: 20px;
        }
      }
      .h2 {
        color: #3A3A3A;
        font-size: 24px;
        text-align: left;
        margin: 0;
        @media (max-width: $maxPhoneWidth) {
          font-size: 14px;
        }
      }
      i {
        font-size: 32px;
        font-style: normal;
        color: $yellow;
        @media (max-width: $maxPhoneWidth) {
          font-size: 16px;
        }
      }
    }
    .gift2mobile {
      display: none;
      @media (max-width: $maxPhoneWidth) {
        display: block;
        margin-top: 3rem;
      }
    }
    .bottom {
      display: flex;
      margin-top: 6%;
      @media (max-width: $maxPhoneWidth) {
        margin-top: 3rem;
      }
      .gift2 {
        @media (max-width: $maxPhoneWidth) {
          display: none;
          margin-top: 3rem;
        }
      }
    }
    .gift {
      flex: 1;height: 100%;
      border-radius: 10px;
      background-color: #fff;
      margin-right: 2rem;
      padding: 2rem;
      box-shadow: 0px 0 15px #ddd;
      background-image: url(https://dz02g1kgtiysz.cloudfront.net/deals/err/200525_154817_back2x.png);
      background-repeat: no-repeat;
      background-position: top 30% left 5%;
      background-size: 20%;
      @media (max-width: $maxPhoneWidth) {
        margin-right: 1rem;
        padding: 1rem;
        background-size: 30%;
      }
      &:last-child {
        margin: 0;
      }
      .product {
        display: block;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 10px;
        @media (max-width: $maxPhoneWidth) {
          width: 80%;
        }
      }
      .h1 {
        color:$blue;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        @media (max-width: $maxPhoneWidth) {
          font-size: 16px;
        }
      }
      .h2 {
        color: #3A3A3A;
        font-size: 18px;
        text-align: center;
        margin: 0;
        @media (max-width: $maxPhoneWidth) {
          font-size: 12px;
        }
      }
      i {
        font-size: 24px;
        font-style: normal;
        color: $yellow;
        @media (max-width: $maxPhoneWidth) {
          font-size: 14px;
        }
      }
    }
    .arrow {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      background-color: #EEF2F3;
    }
  }

  .stepLine {
    padding-bottom: 6rem;
    background-color: #fff;
    @media (max-width: $maxPhoneWidth) {
      padding: 2rem 0;
    }
    .section {
      max-width: 1000px;
      @media (max-width: $maxPhoneWidth) {
        margin: 10px;
      }
    }
    .title {
      padding-bottom: 3rem;
      @media (max-width: $maxPhoneWidth) {
        padding-top: 0;
      }
    }
    .titletxt {
      color: #3A3A3A;
    }
    .stepBox {
      position: relative;
    }
    .stepAll {
      display: flex;
      @media (max-width: $maxPhoneWidth) {
        display: block;
        position: relative;
        left: 0;
        margin: 0 auto;
        padding: 20px 0;
      }
    }
    .step {
      flex: 1;
      height: 100%;
      position: relative;
      padding: 2rem;
      margin-left: 2rem;
      background-color: #FFF8EC;
      &:first-child {
        margin-left: 0;
      }
      @media (max-width: $maxPadWidth) {
        padding-top: 20px;
        margin-left: 0;
        margin-bottom: 2rem;
      }
      .h1 {
        position: absolute;
        top: 0;
        left: 2rem;
        font-size: 18px;
        font-weight: 600;
        color: $yellow;
        transform: translateY(-50%);
        margin: 0;
      }
    }
    .stepTop {
      text-align: center;
      margin-bottom: 10px;
      img {
        width: 50px;
        display: inline-block;
        @media (max-width: $maxPadWidth) {
          width: 40px;
        }
      }
    }
    .stepContent {
      font-size: 16px;
      color: #3a3a3a;
      padding-top: 10px;
      text-align: center;
      @media (max-width: $maxPadWidth) {
        padding-top: 5px;
      }
    }
  }

  .sharedSec {
    padding: 4rem 0;
    background-color: #fff6f7;
    @media (max-width: $maxPhoneWidth) {
      padding-bottom: 2rem;
    }
    .showForm {
      text-align: center;
      padding: 1.5rem 0;
      @media (max-width: $maxPhoneWidth) {
        text-align: center;
      }
      button {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
      }
    }
    .caidaititle {
      width: 550px;
      margin-bottom: 20px;
    }
    .section {
      overflow: visible;
    }
    .screen {
      border-bottom: 1px solid #fecedc;
      margin-bottom: 30px;
      @media (max-width: $maxPhoneWidth) {
        border-bottom: none;
      }
      .left {
        float: left;
        padding: 12px 0;
        @media (max-width: $maxPhoneWidth) {
          width: 100%;
          text-align: center;
          border-bottom: 1px solid #fecedc;
        }
      }
      .right {
        float: right;
        padding: 10px 0;
        @media (max-width: $maxPhoneWidth) {
          width: 100%;
          text-align: center;
        }
      }
      .line {
        display: inline-block;
        width: 1px;
        height: 18px;
        margin: 0 10px;
        vertical-align: text-bottom;
        background-color: #fecedc;
      }
      .btn {
        color: #4a4849;
        font-size: 16px;
        font-weight: 600;
        padding: 0 10px;
        cursor: pointer;
      }
      .current {
        color: #ff83a3;
      }
      span {
        font-size: 16px;
        font-weight: 600;
      }
      select {
        height: 26px;
        display: inline-block;
        color: #4a4849;
        font-size: 16px;
        text-decoration: underline;
        box-sizing: border-box;
        padding-left: 15px;
        border: 0;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      &::after {
        content: "";
        display: block;
        clear: both;
        height: 0;
      }
    }
  }

  .masonry {
    padding-bottom: 20px;
    @media (max-width: $maxPhoneWidth) {
      padding: 0 5%;
      padding-bottom: 20px;
    }
    .water {
      box-sizing: border-box;
      width: 25%;
      padding: 8px;
      border-radius: 15px;
      @media (max-width: $maxPadWidth) {
        width: 33.3%;
      }
      @media (max-width: $maxPhoneWidth) {
        width: 90%;
      }
    }
  }

  .showimg {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    img {
      width: 100%;
      max-height: 500px;
    }
    button {
      display: block;
      border: none;
      outline: none;
      background: transparent;
      padding: 0;
      margin: 0;
    }
    .reactPlayer {
      height: 160px;
      @media (max-width: $maxPhoneWidth) {
        height: 182px;
      }
    }
  }

  .showContent {
    padding: 15px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    @media (max-width: $maxPhoneWidth) {
      padding: 8px;
    }
    .showContenttop {
      overflow: hidden;
      padding-bottom: 10px;
      cursor: pointer;
    }
    .product {
      width: auto;
      height: 75px;
      float: left;
      @media (max-width: $maxPhoneWidth) {
        height: 60px;
      }
    }
    .btns {
      float: right;
      margin: 20px 2px;
      @media (max-width: $maxPhoneWidth) {
        margin: 15px 0;
      }
      &:hover {
        color: #fff;
        border: none;
        background: $yellow;
      }
    }
    h3 {
      color: #474747;
      font-size: 16px;
      text-align: left;
      @media (max-width: $maxPhoneWidth) {
        font-size: 16px;
      }
    }
    .line {
      display: block;
      width: 100%;
      height: 0;
      margin: 10px 0;
      border-bottom: 1px solid #eee;
    }

    .showName {
      overflow: hidden;
      .showNameIng {
        float: left;
        height: 50px;
        vertical-align: top;
        @media (max-width: $maxPhoneWidth) {
          height: 40px;
        }
      }
      .showNameTxt {
        float: left;
        height: 50px;
        line-height: 50px;
        color: #474747;
        font-size: 14px;
        font-weight: 600;
        margin-left: 20px;
        @media (max-width: $maxPhoneWidth) {
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          margin-left: 10px;
        }
      }
      .showBtn {
        float: right;
        button {
          border: none;
          outline: none;
          background: transparent;
          padding: 0;
          margin: 0 10px;
          vertical-align: top;
        }
        img {
          width: 25px;
          padding: 12px 0;
          @media (max-width: $maxPhoneWidth) {
            padding: 7px 0;
          }
        }
        span {
          display: inline-block;
          height: 50px;
          line-height: 50px;
          color: #474747;
          font-size: 16px;
          @media (max-width: $maxPhoneWidth) {
            height: 40px;
            line-height: 40px;
          }
        }
      }
    }
  }

  .rulesSec {
    padding-bottom: 4rem;
    background-color: #fff6f7;
    @media (max-width: $maxPhoneWidth) {
      padding-bottom: 2rem;
    }
    .titletxt {
      background-color: #fff;
    }
    ul {
      width: 80%;
      margin: 0 auto;
      padding-top: 30px;
      @media (max-width: $maxPhoneWidth) {
        padding-top: 10px;
      }
    }
    li {
      color: #474747;
      font-size: 14px;
      padding-bottom: 10px;
      @media (max-width: $maxPhoneWidth) {
        font-size: 14px;
      }
    }
  }

  .productSec {
    padding: 4rem 0;
    background-color: #fee7ef;
    .caidaititle {
      width: 650px;
      h2 {
        font-size: 28px;
        @media (max-width: $maxPhoneWidth) {
          font-size: 17px;
        }
      }
      @media (max-width: $maxPhoneWidth) {
        .caidai {
          min-height: 80px;
        }
      }
    }
    .flex {
      display: flex;
      flex-wrap: wrap;
    }
    .flexbox {
      width: 25%;
      border-radius: 10px;
      padding: 10px;
      overflow: hidden;
      @media (max-width: $maxPhoneWidth) {
        width: 50%;
        padding: 6px;
      }
    }
    .img {
      width: 100%;
      padding: 20px;
      background: #fff;
      @media (max-width: $maxPhoneWidth) {
        padding: 10px;
      }
      img {
        display: block;
        width: 90%;
        margin: 0 auto;
      }
    }
    .content {
      padding: 20px;
      background-color: #fff6f9;
      @media (max-width: $maxPhoneWidth) {
        padding: 15px;
      }
      h3 {
        color: #474747;
        text-align: left;
        margin-bottom: 10px;
      }
      .desc {
        color: #949494;
        text-align: left;
        margin-bottom: 10px;
      }
      .price {
        color: #474747;
        text-align: left;
      }
      .btnBox {
        text-align: left;
        padding-bottom: 0;
      }
    }
  }

  .main {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 0.5rem;
    width: 96%;
    max-width: 1000px;
    padding: 2.5rem;
    z-index: 200;
    .content {
      overflow: auto;
    }
    @media only screen and (max-width: $maxPhoneWidth) {
      width: 90%;
      padding: 2.5rem 1rem 1rem 1rem;
      .content {
        max-height: 500px;
      }
    }
  }

  .mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 180;
    background: rgba(0, 0, 0, 0.5);
  }

  .loginBox {
    color: #fff;
    width: 100%;
    padding: 4rem 0;
    @media (max-width: $maxPhoneWidth) {
      padding: 2rem;
    }

    .loginTip {
      color: #474747;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      padding: 0 1rem;
      padding-bottom: 20px;
      @media (max-width: $maxPhoneWidth) {
        padding: 0;
        padding-bottom: 20px;
        font-size: 14px;
      }
    }

    $heightbtn: 45px;

    button {
      width: 100%;
      height: $heightbtn;
      border-radius: 20px;
      cursor: pointer;
    }

    .google {
      width: 100%;
      height: $heightbtn;
      padding: 0 6rem;
      margin-bottom: 20px;
      @media (max-width: $maxPhoneWidth) {
        padding: 0;
      }
    }

    .facebook {
      width: 100%;
      padding: 0 6rem;
      height: $heightbtn;
      @media (max-width: $maxPhoneWidth) {
        padding: 0;
      }
    }
  }

  .formBox {
    display: flex;
    @media (max-width: $maxPhoneWidth) {
      display: block;
    }
    .uplaodBox {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: $maxPhoneWidth) {
        padding: 3rem 0;
        top: 0;
        transform: none;
      }
      .btns,
      .uplaodBtn {
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      .btnsBorder {
        margin-bottom: 0;
      }
    }
    .left {
      width: 50%;
      position: relative;
      @media (max-width: $maxPhoneWidth) {
        width: 100%;
      }
      .input {
        width: 90%;
      }
    }
    .greyBox {
      position: relative;
      height: 100%;
      background-color: #eee;
    }
    .preview {
      width: 100%;
      overflow-x: hidden;
      img {
        display: block;
        width: 100%;
        @media (max-width: $maxPhoneWidth) {
          width: auto;
          max-width: 100%;
          max-height: 420px;
          margin: 0 auto;
        }
      }
      button {
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        font-size: 16px;
        border: 1px solid #999;
        background: rgba($color: #ccc, $alpha: 0.3);
        cursor: pointer;
        transition: all 0.3s;
        @media (max-width: $maxPhoneWidth) {
          height: 26px;
          font-size: 14px;
        }
        &:hover {
          background: rgba($color: #ccc, $alpha: 0.7);
        }
      }
    }
    .videoform {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: $maxPhoneWidth) {
        padding: 3rem 0;
        position: static;
        transform: none;
      }
      .btnsBorder {
        margin-right: 15px;
      }
    }
    .right {
      width: 50%;
      padding-left: 50px;
      @media (max-width: $maxPhoneWidth) {
        width: 100%;
        padding-left: 0;
        padding-top: 25px;
      }
      input {
        text-align: left;
      }
      textarea {
        text-align: left;
        height: 120px;
      }
      .btnBox {
        text-align: left;
        @media (max-width: $maxPhoneWidth) {
          text-align: center;
        }
      }
      .btns {
        width: 150px;
        padding: 0;
        margin-right: 15px;
        @media (max-width: $maxPhoneWidth) {
          width: 120px;
        }
      }
      .policy {
        color: #474747;
        font-size: 14px;
        i {
          margin-right: 6px;
        }
        a {
          color: $yellow;
        }
      }
      .tip {
        font-size: 14px;
        color: #979797;
      }
    }
    .portrait {
      overflow: hidden;
      margin-bottom: 20px;
      .gender {
        float: left;
        width: 70px;
      }
      img {
        height: 60px;
      }
      .btnBox {
        float: left;
        padding: 15px 0;
        margin-left: 30px;
        @media (max-width: $maxPhoneWidth) {
          margin-left: 10px;
        }
      }
      .btns {
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        font-weight: 600;
        @media (max-width: $maxPhoneWidth) {
          width: 90px;
          font-size: 12px;
        }
      }
    }
    .optImg {
      height: 50px;
    }
    .optTitle {
      margin-left: 10px;
    }
    .titleTop {
      font-size: 12px;
      color: #474747;
    }
    .titleDec {
      font-size: 12px;
      color: #949494;
    }
    .flex {
      display: flex;
    }
  }

  .detailBox {
    display: flex;
    padding: 20px 30px;
    @media (max-width: $maxPhoneWidth) {
      display: block;
      padding: 20px 15px;
    }
    .left {
      width: 45%;
      @media (max-width: $maxPhoneWidth) {
        width: 100%;
        margin-bottom: 15px;
      }
      img {
        display: block;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: $maxPhoneWidth) {
          top: 0;
          transform: none;
        }
      }
    }
    .right {
      width: 55%;
      padding-left: 50px;
      @media (max-width: $maxPhoneWidth) {
        width: 100%;
        padding-left: 0;
      }
    }
    .line {
      display: block;
      width: 100%;
      height: 0;
      margin: 20px 0;
      border-bottom: 1px solid #ffd0db;
      @media (max-width: $maxPhoneWidth) {
        margin: 10px 0;
      }
    }
    .portrait {
      overflow: hidden;
    }
    .portraitImg {
      float: left;
      height: 40px;
    }
    .name {
      float: left;
      line-height: 40px;
      font-weight: 600;
      margin: 0;
      padding: 0 0 0 20px;
    }
    .xin {
      float: right;
      height: 40px;
      padding: 5px 0;
      border: none;
      outline: none;
      background: transparent;
      img {
        height: 25px;
      }
      span {
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
        color: #474747;
        font-weight: 600;
        margin-left: 10px;
      }
    }
    .titl {
      font-size: 16px;
      font-weight: 600;
      @media (max-width: $maxPhoneWidth) {
        font-size: 14px;
      }
    }
    .desc {
      color: #979797;
      font-size: 14px;
      @media (max-width: $maxPhoneWidth) {
        font-size: 12px;
      }
    }
    .flex {
      display: flex;
      padding-top: 1rem;
    }
    .fleft {
      padding-right: 10px;
      img {
        width: 100px;
      }
    }
    .ptitl {
      font-size: 14px;
      font-weight: 600;
    }
    .pdesc {
      font-size: 14px;
      font-weight: 400;
      margin: 15px 0;
    }
    .prize {
      font-size: 14px;
      font-weight: 600;
    }
    .btnBox {
      text-align: left;
      padding-bottom: 0;
      overflow: hidden;
      button {
        height: 30px;
        line-height: 30px;
        vertical-align: bottom;
      }
      .share {
        height: 30px;
        margin-left: 15px;
      }
    }
  }

  .select {
    position: relative;
    border: 1px solid #ffd0db;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: none;
    background: #fff;
    input {
      border: 0;
    }
  }

  .input {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: none;
    input,
    textarea,
    select {
      font-family: "Booster Next FY";
      box-sizing: border-box;
      width: 100%;
      height: 35px;
      line-height: 35px;
      color: #474747;
      font-size: 14px;
      text-align: center;
      white-space: normal;
      text-overflow: ellipsis;
      margin: 0;
      padding: 0 15px;
      border-radius: 6px;
      border: 1px solid #ffd0db;
      box-shadow: none;
      background: #fff;
      &:focus {
        outline: none;
        border: 1px solid #2684ff;
      }
    }
    textarea {
      line-height: 24px;
      padding: 5px 15px;
    }
  }

  :global {
    .modalClose {
      position: absolute;
      top: 0;
      right: 0;
      width: 2.5rem;
      height: 2.5rem;
      color: $gray;
      text-align: center;
      padding: 5px;
      border: none;
      background: transparent;
      transition: 400ms;
      z-index: 1;
      cursor: pointer;
      i {
        pointer-events: none;
        font-size: $subTitleSize;
        color: #333;
        // &:after,
        // &:before { content: ""; width: 15px; height: 0; border-bottom: 2px solid $gray;
        //   position: absolute; top: 50%; left: 50%; margin: 0 0 0 -10px;
        // }
        // &:before { transform: rotate(45deg); }
        // &:after { transform: rotate(-45deg); }
      }
      &:hover {
        text-shadow: 1px 1px 3px $grayTxtlight1;
        i {
          &:after,
          &:before {
            box-shadow: 0px 1px 3px $grayTxtlight1;
          }
        }
      }
    }
  }
}
